<div style="display: flex; justify-content: space-between; align-items: center;">
  <div>
    <p>Say hello at <a href="https://bsky.app/profile/maxmilne.bsky.social" target="_blank" rel="noopener noreferrer">BlueSky</a>, and <a href="https://www.youtube.com/@maxmilne-aus" target="_blank" rel="noopener noreferrer">YouTube</a></p>
  </div>
  
  <div class="stove-signature">
    <div class="icon-base the-leap">
      <svg viewBox="0 0 80 80">
        <path class="path" d="M10 70 H 30"/>
        <path class="path" d="M50 70 H 70"/>
        <path class="spark" d="M30 70 C 40 40, 40 40, 50 70"/>
      </svg>
    </div>
  </div>
</div>