<div>
  <p>Say hello at <a href="https://bsky.app/profile/maxmilne.bsky.social" target="_blank" rel="noopener noreferrer">BlueSky</a>, and <a href="https://www.youtube.com/@maxmilne-aus" target="_blank" rel="noopener noreferrer">YouTube</a>
</div>

<div class="stove-signature">
  <div class="goldsworthy-fragments">
    <div class="fragment fragment-1"></div>
    <div class="fragment fragment-2"></div>
    <div class="fragment fragment-3"></div>
    <div class="fragment fragment-4"></div>
    <div class="fragment fragment-5"></div>
  </div>
  <p class="stove-caption">Fragments of therapeutic collaboration</p>
</div>