<div class="nav-container">
    <div class="nav-left">
        <a class="internal-link site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>
        {% if page.layout == 'note' or page.layout == 'tag' %}
            <span class="nav-breadcrumb-separator">/</span>
            <a class="internal-link nav-breadcrumb-item" href="{{ site.baseurl }}/#writing">Writing</a>
        {% elsif page.id == 'topics' %}
            <span class="nav-breadcrumb-separator">/</span>
            <a class="internal-link nav-breadcrumb-item" href="{{ site.baseurl }}/">Writing</a>
        {% elsif page.id == 'writing' %}
            <span class="nav-breadcrumb-separator">/</span>
            <a class="internal-link nav-breadcrumb-item" href="{{ site.baseurl }}/#writing">Writing</a>
        {% endif %}
    </div>
    <div class="nav-links">
        <a class="internal-link" href="{{ site.baseurl }}/about">About</a>
        <a class="internal-link" href="{{ site.baseurl }}/now">Now</a>
    </div>
</div>
