---
layout: default
---

<article>
  <h1>{{ page.title }}</h1>
  {{ content }}
</article>

<div class="projects-list">
  {% assign projects_by_year = site.projects | group_by: 'year' | sort: 'name' | reverse %}
  {% for year_group in projects_by_year %}
    <section class="year-section">
      <h2 class="year-header">{{ year_group.name }}</h2>
      <ul class="project-items">
        {% for project in year_group.items %}
          <li class="project-item">
            <a href="{{ project.url | relative_url }}" class="project-link">
              <span class="project-title">{{ project.title }}</span>
              <span class="project-description">{{ project.description }}</span>
            </a>
          </li>
        {% endfor %}
      </ul>
    </section>
  {% endfor %}
</div>